* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
    background: rgb(20, 20, 20);
    background-image: linear-gradient(to bottom, rgb(20, 20, 20) ,rgb(50, 50, 50)) ,rgb(20, 20, 20)  ;
    background-repeat: no-repeat;
}

a{
  cursor: default;
}

a > .iconImg {
  cursor:pointer;
}

button {
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminlogin {
  position: absolute; 
  top: 100px; 
  padding: 30px;
  border-radius: 30px;
  background: rgb(253, 63, 63);
  transition: 0.5s ease-in-out; 
}

.big {
  font-size: 70px;
}


.box {
  width: 100px;
  height: 100px;
  background: red;
}

.box2 {
  width: fit-content;
  background: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;


}

.box2 > h3 {
  margin: 10px 20px;
}

.addrelease {
  display: flex;
  flex-direction: column;
  color: black;
}

.addreleaseconfirm {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.custombutton {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  border: none;
  background: white;
  color: #000000;
  transition: 0.3s;
}

.custombutton:hover {
  background: black;
  color: white;
}

.releasepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.next {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frame {
  background: rgb(241, 239, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;
  width: fit-content;
  margin: 15px;
}

.frame2 {
  background: rgba(241, 239, 235, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;
  width: fit-content;
  margin: 15px;
  color: black;
}


.releasesList {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.icons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.iconImg {
  scale: 0.5;
  transition: 0.3s;
}

.iconImg:hover {
  scale: 0.6;
}

.logoutbutton{
  position: absolute;
  top: 60px;
  right: 5px;
}

.adminpage {
  display: flex;
  flex-direction: column;
  background: pink;
  align-items: center;
  color: black;
}

.pb {
  padding-bottom: 200px;
}

.admincontent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 250);
  margin-bottom: 10px;
  cursor: default;
}

.admincontent > p {
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;

}

.admincontent > h3 {
  cursor: pointer;
  margin-bottom: 5px;
}

.admincontent > a {
  font-size: 10px;
}

.admincontentpage {
  margin-top: 20px;
}

.updatewindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.updateform{
  position: fixed;
  background: rgba(246, 85, 85, 0.9);
  z-index: 2;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

.updateinputsbox {
  display: flex;
  flex-direction: column;
}


.material-symbols-outlined {
  font-size: 17px;
  padding: 3px;
  background: white;
  color: black;
  border: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
  background: black;
  color: white;
}


fieldset {
  width: fit-content;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  border: 5px dashed white;
  padding: 3px 10px;
  
}

input {
  font-size: 15px;
  width: 100%;
  padding: 5px;
  margin-bottom: 7px;
  border-radius: 10px;
  border: none;

}

label {
  font-weight: bold;
}

.nicebutton {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: white;
  color: black;
  transition: 0.2s ease-in-out;
}

.nicebutton:hover {
  background: rgba(247, 58, 58, 0.8);
  color: rgb(255, 255, 255);
}

.mt {
  margin-top: 20px;
}

.calbtn {
  padding: 5px;
}

.calbtn-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navpage {
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navbar {
  display: flex;
  flex-direction: row;
  height: 60px;
  background: rgba(20,20,20,0.9);
  justify-content: space-around;
  align-items: center;
  color: white;
  visibility: visible;
}
.burgerVisibility{
  visibility: hidden;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .navbar {
    visibility: hidden;
  }
  .burgerVisibility{
    visibility: visible;
  }
}

.navbar button {
  font-size: 20px;
  background: none;
  border: none;
  transition: 0.2s;
  color: white;
}

.navbar button:hover {
  color: rgb(255, 117, 117);
}

.contracts{
  color: white;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}


.pdf{
  color: black;
  background: white;
  width: 1000px;
  margin-top: 50px;
  padding: 30px 30px;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.row2{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}

.row3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  gap: 5px;
}

.col{
  display: flex;
  flex-direction: column;
}

.underline{
  text-decoration: underline 2px;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.inputs > input {
  width: 100%;
}

.signbox{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.podpis {
  position: absolute;
  margin-top: 42px;
  margin-left: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  height: 100px;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;

}

.logoo {
  position: absolute;
  opacity: 0.9;
}

.generatetable {
  margin-top: 10px;
  padding: 20px;
  border-radius: 50px;
  border: solid 3px white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkContracts {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

.linkContracts:hover {
  color: red;
}


.mobNavbar {
  display: flex;
  flex-direction: column;
  height: 60px;
  background: rgba(20,20,20,0.9);
  justify-content: space-around;
  align-items: left;
  color: white;
  gap: 20px;
  translate: 0 -50%;
}


.mobNavbar button {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
}

.mobNavbar button:hover {
  color: rgb(255, 117, 117);
}

.spotifybuttons {
  background: white;
  position: absolute;
  width: 35px;
  height: 35px;
  border: none;
  margin-top: 22px;
  border-radius: 50%;
}

.spotifybuttons2 {
  background: white;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
}

.error {
  color: rgb(252, 75, 75);
  background: rgba(0,0,0,0.3);
  border-radius: 10%;
  width: fit-content;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 15px;
  padding-right: 5px;
}

.submitFlex{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media screen and (max-width: 580px) {
  .submitFlex {
    flex-direction: column;
  }
}

.releasesFlex {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 925px) {
  .releasesFlex {
    flex-direction: column;
  }
}




.mainpageTitles {
  font-size: 70px;
  cursor: default;
}

.mainpageP {
  font-size: 20px;
  font-family: "Courier New";
  font-weight: 500;
  cursor: default;

}
.mainpageCards {
  display: flex; 
  flex-direction: row; 
  padding: 20px 20px;
  margin-bottom: 10px;
}
.mainpageCards-reverse{
  display: flex; 
  flex-direction: row; 
  padding: 20px 20px;
  margin-bottom: 10px;
}
.lottieSize {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 850px) {
  .mainpageTitles{
    font-size: 50px;
  }
}
@media screen and (max-width: 700px) {
  .mainpageP{
    font-size: 20px;
  }
  .mainpageCards{
    flex-direction: column; 
  }
  .mainpageCards-reverse{
    flex-direction: column-reverse; 
  }
}
@media screen and (max-width: 450px) {
  .mainpageTitles{
    font-size: 35px;
  }
  .mainpageP{
    font-size: 17px;
  }
  .lottieSize {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 320px) {
  .lottieSize {
    width: 150px;
    height: 150px;
  }
}



.maincardsAnimation {
  opacity: 1;
  filter: blur(0px);
  animation-name: mainpageAnimation;
  animation-duration: 2s;
}

.maincardsAnimation2 {
  opacity: 0;
  filter: blur(0px);
  animation-name: mainpageAnimation;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.maincardsAnimation3 {
  opacity: 0;
  filter: blur(0px);
  animation-name: mainpageAnimation;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes mainpageAnimation {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.loadingPage{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  gap: 10px;
}

.loader1 {
  width: 30px;
  height: 80px;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;

  animation: loaderAnimation 0.5s linear infinite;
  animation-direction: alternate;
}

.loader2 {
  width: 30px;
  height: 80px;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  
  animation: loaderAnimation2 0.5s linear infinite;
  animation-direction: alternate;
}

@keyframes loaderAnimation {
  from {
    height: 30px;
  }
  to {
    height: 80px;
  }
}

@keyframes loaderAnimation2 {
  from {
    height: 80px;
  }
  to {
    height: 30px;
  }
}