


.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}


.description p {
  padding-top: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 1200px;
}

.spotifyplayer {
  position: fixed;
  right: 0;
  width: 100%;
  bottom: 30px;
  transition: 1s;
  z-index: 500;
}

.spotifyplayer button {
  width: 100%;
  font-weight: 900;
}

.login {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 270px;
}

.login input {
  margin-top: 5px;
  width: 200px;
  font-size: 15px;
}